<div class="container">
    <h1 class="mt-3">Edit Department</h1>

    <ng-container *ngIf="department;else notFound">

        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2">
                <div class="mt-3">
                    <label for="departmentId">Department Id</label>
                    <input type="text" disabled
                    id="departmentId"
                    class="form-control"
                    name="departmentId"
                    [(ngModel)]="department.id">
                </div>

                <div>
                    <label for="departmentName">Department Name</label>
                    <input type="text" 
                    id="departmentName"
                    class="form-control"
                    name="departmentName"
                    [(ngModel)]="department.name">
                </div>

                <div>
                    <label for="departmentLocation">Department Location</label>
                    <input type="text" 
                    id="departmentLocation"
                    class="form-control"
                    name="departmentLocation"
                    [(ngModel)]="department.location">
                </div>
                
                <div class="mt-3 d-flex">
                    <button type="submit" class="btn-primary">Save</button>

                    <button type="button" class="btn btn-danger ms-3" (click)="onDelete()" >Delete</button>
                </div>

                

            </div>
        </form>
        
    </ng-container>

    <ng-template #notFound>
        <div class="alert alert-warning" role="alert">
            Department not found!
        </div>
    </ng-template>

</div>